body{
  background-color:#94B49F;
}
#line{
  background-color:#2C3639;
  border-color: orange;
  height:2px;
  width:30%;

}
#edu{
  background-color:#2C3639;
  border-color: orange;
  height:2px;
  width:30%;
}
